PROJECT_NAME=my-app
CLOUDFLARE_ACCOUNT_ID=your-account-id

# D1_DATABASE_ID se genera automáticamente con: goflare d1 init
# D1_DATABASE_ID=

# Opcionales
# PUBLIC_DIR=web/public
# ENTRY=edge
# DOMAIN=example.com
# WORKER_NAME=my-app-worker
# COMPILER_MODE=S
